<form [formGroup]="form" (ngSubmit)="onSubmit()">
    <h2> Formular Online Pentru Inmatriculari Auto  </h2>

    <div>
        <label for="first-name">Nume: </label>
        <input id="first-name" type="text" formControlName="firstName"><br>
    </div>

    <div>
        <label for="last-name">Prenume: </label>
        <input id="last-name" type="text" formControlName="lastName"><br>
    </div>

    <div>
        <label for="cnp">CNP: </label>
        <input id="cnp" type="text" formControlName="cnp"><br>
        <div *ngIf="form.get('cnp')?.hasError('invalidCnp') && form.get('cnp')?.touched">
            CNP invalid
        </div>
    </div>

    <label for="email">Email: </label>
    <input id="email" type="email" formControlName="email"><br>

    <label for="phoneNumber">Telefon: </label>
    <input id="phoneNumber" type="text" formControlName="phoneNumber"><br>
    <div *ngIf="form.get('phoneNumber')?.hasError('invalidPhoneNumber') && form.get('phoneNumber')?.touched">
        Telefon invalid
    </div>

    <label for="county">Judet: </label>
    <input id="county" type="text" formControlName="county"><br>

    <h4>Selectati tipul de placute pentru numarul de inmatriculare </h4>
    <div>
        <label>
          <input type="radio" formControlName="licencePlateType" [(ngModel)]="form.value.licencePlateType" id="typeA" [value]="'typeA'"> Tip A: placute cu dimensiunea 110 x 520mm
        </label>
      </div>

      <div>
        <label>
          <input type="radio" formControlName="licencePlateType" [(ngModel)]="form.value.licencePlateType" id="typeB" [value]="'typeB'"> Tip B: placute cu dimensiunea 200x330mm
        </label>
      </div>

      <div>
        <label>
          <input type="radio" formControlName="licencePlateType" [(ngModel)]="form.value.licencePlateType" id="typeC" [value]="'typeC'"> Tip C: placute cu dimensiunea 130x240mm
        </label>
      </div>

      <div formGroupName="userPreferences">
        <label>
            <input type="checkbox" formControlName="preferredNumberCheckbox" id="preferredNumberCheckbox" (change)="toggleInputField($event)">
        </label>

        <label for="userPreferredNumber">Câmp de introducere numar prefrential: </label>
        <input type="text" id="userPreferredNumber" formControlName="userPreferredNumber" [disabled]="!form.get('userPreferences.preferredNumberCheckbox')?.value">
      </div>
      <br>

      <p *ngIf="isFormSubmitted">
        Plata inmatriculatre: {{ REGISTRATION_TAX }}
        <br>

        <ng-container *ngIf="form.value.licencePlateType === 'typeA'">Tip A: {{ licencePlateTax }}</ng-container>
        <ng-container *ngIf="form.value.licencePlateType === 'typeB'">Tip B: {{ licencePlateTax }}</ng-container>
        <ng-container *ngIf="form.value.licencePlateType === 'typeC'">Tip C: {{ licencePlateTax }}</ng-container>

        <br>

        <ng-container *ngIf="isPrefferedNumberChecked">S-a optat pentru numar prefrential: {{ preferredNumberTax }} </ng-container>

        <br>

        Total: {{total}}
      </p>

    <button type="submit">Submit</button>

</form>

